.message {
    margin-bottom: 12px;
    max-width: 80%;
    clear: both;
}

.message.own {
    float: right;
    margin-left: auto;
}

.message.other {
    float: left;
    margin-right: auto;
}

.message-sender {
    font-size: 12px;
    color: #8696a0;
    margin-bottom: 2px;
    margin-left: 8px;
}

.message-bubble {
    padding: 8px 12px;
    border-radius: 12px;
    word-wrap: break-word;
    word-break: break-word;
}

.message.own .message-bubble {
    background-color: #005c4b;
    color: #e9edef;
    border-bottom-right-radius: 4px;
}

.message.other .message-bubble {
    background-color: #202c33;
    color: #e9edef;
    border-bottom-left-radius: 4px;
}

.message-text {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 4px;
}

.message-time {
    font-size: 11px;
    color: #8696a0;
    text-align: right;
}

.message-image img,video {
    max-width: 200px;
    max-height: 400px;
}


.message-sticker img {
    max-width: 100px;
    max-height: 100px;
}

.message-video video {
    max-width: 100px;
    max-height: 100px;
}

/* Adicione ao seu Message.css */
.clickable-media {
  cursor: pointer;
  transition: transform 0.2s;
}

.clickable-media:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.message-image, .message-sticker {
  cursor: pointer;
}