* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    background-color: #111b21;
    color:white;
    display: flex;
    height: 100vh;
  }
  .painel-esquerdo {
    width: 20%;
    background-color: #111b21; 
  }
  .painel-direito {
    width: 80%;
    background-color: #1a2639;
  }